Adafruit-bitfield==1.5.1
Adafruit-Blinka==0.2.7
adafruit-circuitpython-amg88xx==1.1.0
adafruit-circuitpython-busdevice==2.2.5
adafruit-circuitpython-register==1.3.1
Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.3
cairocffi==0.8.1
cffi==1.11.5
colour==0.1.5
cycler==0.10.0
gpsd-py3==0.3.0
imutils==0.4.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
pexpect==4.6.0
pgi==0.0.11.2
Pillow==8.1.1
ptyprocess==0.6.0
pycparser==2.18
pygame==1.9.4
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
rpi-ws281x==4.0.0
RPi.GPIO==0.6.3
scipy==1.1.0
six==1.11.0
spidev==3.2
